alias ll='ls -l'
alias la='ls -la'
alias vim='nvim'
alias tf='tofu'
alias python='python3'
alias newvenv='python3 -m venv .venv'
alias activate='source .venv/bin/activate'
alias py='python3'
alias lg='lazygit'
alias gat='pwsh ~/source/github/snippets/GetEntraAccessToken.ps1'
alias kubectl='kubecolor'
alias kube='kubecolor'
alias k='kubecolor'
alias myip='curl -w "\n" "https://ipinfo.io/ip"'
alias bbox='kubectl run -it --rm busybox --image=busybox --restart=Never -- sh'
alias oc='opencode'
alias ghostconf='nvim "$XDG_CONFIG_HOME/ghostty/config"'
mkdir -p $HOME/.kube/configs
alias kc='export KUBECONFIG="$HOME/.kube/configs/$((ls "$HOME/.kube/configs" | fzf) || echo "config")"'
alias space="spacectl"
alias tfdocs="terraform-docs"
alias pcra="pre-commit run --all"
alias ff="fastfetch"
alias cctofu="cookiecutter gh:JoshSLawrence/cookiecutter --directory=templates/opentofu"
