alias ll='ls -l'
alias la='ls -la'
alias vim='nvim'
alias tf='terraform'
alias python='python3'
alias newvenv='python3 -m venv .venv'
alias activate='source .venv/bin/activate'
alias py='python3'
alias lg='lazygit'
alias gat='pwsh ~/source/github/snippets/GetEntraAccessToken.ps1'
alias kubectl='kubecolor'
alias kube='kubecolor'
alias k='kubecolor'
alias myip='curl -w "\n" "https://ipinfo.io/ip"'
alias bbox='kubectl run -it --rm busybox --image=busybox --restart=Never -- sh'
alias kc='export KUBECONFIG="$HOME/.kube/configs/$(ls "$HOME/.kube/configs/" | fzf)"'
