export PATH=$PATH:$HOME/.local/bin
export GCM_CREDENTIAL_STORE=cache
export PATH=$PATH:$HOME/.dotnet
export PATH=$PATH:$HOME/.dotnet/tools
export PATH=$PATH:/usr/local/go/bin
export GPG_TTY=$(tty)
export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
export PATH=$PATH:$HOME/.local/share/nvim/mason/bin
export APP_ENV=development
export GROFF_NO_SGR=1
export MANPAGER="nvim +Man!"
